table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.action_button {
    font-size: 16;
    width: 200;
    margin-top: 10px;
    border: '1px solid black'
}

#answers_table td:first-child {
    width: 10em
}

#answers_table td:nth-child(2) {
    width: 10em
}

#answers_table th:first-child {
    width: 10em
}

#answers_table th:nth-child(2) {
    width: 10em
}

#answers_table td.correct_answer {
    background-color: lightgreen;
}

#answers_table td.wrong_answer {
    background-color: lightpink;
}

button.green_text {
    color: green;
}

button.red_text {
    color: red;
}

button.disabled {
    color: lightgrey;
}
