table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    height: 1.8em;
}

#status_table td {
    text-align: center;
}

#status_table td:first-child {
    padding-left: 2px;
    text-align: left;
    width: 10em;
}

#results_table td {
    width: 1.8em;
    text-align: center; 
    vertical-align: middle;
}

#results_table td:first-child, #answers_table td:first-child {
    width: 10em;
    padding-left: 2px;
    text-align: left; 
}

#results_table tr:first-child td {
    font-weight: bold;
    text-align: center;
}

#results_table td:nth-child(2) {
    width: 3em;
    font-weight: bold;
}

#answers_table td:nth-child(2) {
    width: 10em;
    padding-left: 2px;
}

#answers_table th:first-child {
    width: 10em
}

#answers_table th:nth-child(2) {
    width: 10em
}

#answers_table th:nth-child(3) {
    width: 1.8em
}

#answers_table th:nth-child(4) {
    width: 1.8em
}

#answers_table td.correct_answer {
    background-color: lightgreen;
}

#answers_table td.wrong_answer {
    background-color: lightpink;
}

button {
    padding: 0px;
    border-radius: 5px;
    background-color: white;
    outline: none;
}

button.green_text {
    color: green;
    border-color: green
}

button.green_text:active {
    color: darkgreen;
    border-color: darkgreen;
    background-color: lightgrey;
}

button.black_text {
    color: black;
    border-color: black;    
}

button.black_text:active {
    background-color: lightgrey;
}

button.red_text {
    color: red;
    border-color: red;
}

button.red_text:active {
    color: darkred;
    border-color: darkred;
    background-color: lightgrey;
}

button.disabled {
    color: lightgrey;
    border-color: lightgrey
}

button.disabled:active {
    color: darkgrey;
    border-color: darkgrey;
    background-color: lightgrey;
}

button.question_button {
    width: 2.5em;
    height: 1.25em;
    font-size: 26;
}

td button {
    width: 100%;
    height: 100%;
}

button.registration_button {
    font-size: 20;
}